.contact-form-container {
    max-width: 100%; /* Adjust as needed, making sure it adapts to different screen sizes */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .contact-form-container h2 {
    font-size: 24px; /* Adjust the heading size as needed */
  }

  .contact-form-container iframe {
    width: 100%; /* Ensures responsiveness */
    max-width: 8000px; /* Ensures the form doesn’t exceed this width */
    height: 1000px; /* Adjust height as needed */
    border: none;
  }

  .contact-background {
    display: inline-block; /* Enables flexbox layout */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255,255,255,.85)); /* Linear gradient background */
    padding: 5px; /* Adds padding around the background */
    width: 800px; /* Ensures full width */
    border-radius: 2%;
    min-height: 100vh; /* Makes sure the container takes at least full viewport height */
  }