/* Navbar styling */
.navbar {
    display: flex;
    height: 60px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
    position: fixed;
    padding: 1rem;
    justify-content: center; /* Adjust to space items */
    align-items: center;
    flex-wrap: wrap;
    color: #b0b0b0;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(2, 21, 90);
    background-image: url("./assets/asfalt-light.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* Navbar menu styling */
.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-menu li {
    margin: 0 1rem;
}

.navbar-menu a {
    color: #d5d8dc;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.navbar-menu a:hover {
    color: #88c0d0;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Menu toggle button styling */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #d5d8dc;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none; /* Hide the menu initially on smaller screens */
        flex-direction: column; /* Stack items vertically */
        position: absolute;
        top: 60px;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        background-color: rgba(2, 21, 90, 0.95); /* Add a semi-transparent background color */
    }

    .navbar-menu.open {
        display: flex; /* Show the menu when toggled */
        transition: max-height 0.5s ease-in-out;
    }

    .navbar-menu li {
        margin: 0;
        text-align: center;
        padding: 0.75rem 0; /* Reduces padding for more compact menu */
        flex: 1;
    }

    .menu-toggle {
        margin-left: auto;
        padding: 0.75rem;
        display: block;
    }
}