/* Navbar styling */
.navbar {
    width: 100%;
    background-color: rgb(2, 21, 90);
    background-image: url("./assets/asfalt-light.png");
    color: #cacaca;
    padding: 1rem;
    font-weight: bold;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: #d5d8dc;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.navbar a:hover {
    color: #88c0d0;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Menu toggle button styling */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #d5d8dc;
}

/* Navbar menu styling */
.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-menu.open {
    display: flex;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(2, 21, 90);
    }

    .navbar-menu.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-menu li {
        margin: 1rem 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}
